@import "vars";

/*
 * Common
 */

html, body{
   height: 100%
}
body {
    margin: 0;
    font-family: "Inconsolata";
}
a {
    text-decoration: none;
    color: $hl-color;
}
a:hover {
    text-decoration: none;
    color: $darkblue;
}
hr {
    border: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
}

/* 
 * Utility Function
 */

.alignable {
    display: inline-block;
}
.align-left {
    @extend .alignable;
    float: left;
}
.align-right {
    @extend .alignable;
    float: right;
}

/*
 * Site Header & URL
 */

#author-name {
    @extend .alignable;
    color: $lightblack;
    font-family: "Space Mono";
    font-size: 30px;
}
.urlbar {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 0;
}
.urlbar-ul {
    @extend .alignable;
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    margin-left: 20px;
}
.url-list {
    list-style-type: none;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}

/* 
 * Div 
 */

.container {
    max-width: $span;
    margin: auto;
}
.wrap {
    min-height: 100%;
}

/*
 * Site Footer
 */

.site-footer {
    padding: 0px 0;
    text-align: center;
}