/*
 * Span of content.
 */

$span: 750px;

/*
 * Colors.
 */

$white: #ffffff;
$black: #000000;
$lightblack: #1a1a1a;
$pink: #ff0080;
$darkpink: #660033;
$darkblue: #3333ff;
$lightgray: #f0f0f5;

/*
 * Variables.
 */

$hl-color: $pink;
$image-height: 150px;
$image-width: 150px;
